
input{
    border-bottom: 2px solid gray;
    box-sizing: border-box;
    margin: 2.5%;
    height: 5vh;
    width: 25vw;
    
     
}

.form{
    /* width: 45vw;
    height: 50vh; */
    background-color: palevioletred;
   
    box-sizing: border-box;
    margin: 5%;
}

button{
    height: 7vh;
    width: 20vw;
   background-color: cadetblue;
   color: white;
    
}
.main{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid gray;
}
.child{
    width: 50vw;
    height: 50vh;
    text-align: center;
    background-color: palevioletred;
    
}
#child{
    background-image: linear-gradient(45deg, rgb(65, 202, 252),rgb(141, 104, 177),rgb(246, 53, 227));
    padding-top: 3.5%;
    box-sizing: border-box;
}

 


.hoc1:hover{
  
color: white;
letter-spacing: 15px;
height: 15vh;
box-sizing: border-box;
padding: 5%;
font-size: large;

}

.hoc2{
    letter-spacing: 25px;
}
.hoc2:hover{
  
    color: white;
    letter-spacing: 5px;
    height: 15vh;
    box-sizing: border-box;
    padding: 5%;
    font-size: large;
}




